# Build e dependências
target/
build/
dist/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Logs e temporários
*.log
hs_err_pid*
replay_pid*

# Diretórios de IDEs
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings
.sts4-cache
.vscode/
.apt_generated
.factorypath

# Maven
.mvn/wrapper/maven-wrapper.jar

# STS / NetBeans
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

# BlueJ e outros
*.ctxt
.mtj.tmp/
